.wrapper {
  display: grid;
  grid-template-rows: 30px auto 30px;
  grid-template-areas: 
    "header header header" 
    "container container container"
    "footer footer footer";
  width: 100vw;
  height: 100vh;
}

.box {
  background-color: aquamarine;
}

.header {
  grid-area: header;
}

.container {
  grid-area: container;
}

.footer {
  grid-area: footer;
}
      
